[submodule "hugo-theme-shell"]
	path = hugo-theme-shell
	url = https://github.com/Yukuro/hugo-theme-shell
[submodule "themes/shell"]
	path = themes/shell
	url = https://github.com/Yukuro/hugo-theme-shell
[submodule "themes/hugo-theme-shell"]
	path = themes/hugo-theme-shell
	url = https://github.com/Yukuro/hugo-theme-shell.git
